* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #009788 145px, #DADBD5 145px);
}

.bg-lightgray {
    background-color: #EAEAEA;
}

.text-smaller{
    font-size: smaller;
}

.pointer {
    cursor: pointer;
}

.main_container {
    width: 1400px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
}

.left,
.right {
    height: 100%;
}

.left {
    width: 32%;
    border-right: 1px solid grey;
}

.right {
    width: 68%;
}

.header-left,
.header-right {
    height: 60px;
    background-color: #EAEAEA;
}

img {
    width: 45px;
    border-radius: 50%;
}

.container-icon-header-right,
.container-icon-header-left ul li i {
    color: #B1B1B1;
    font-size: 20px;
}

.container-bell-notifica {
    background-color: #97D3E7;
}

.container-bell-notifica ul li:last-child {
    font-size: 13px;
}

.bell-container {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
}

#bell {
    color: #97D3E7;
}

.element ul li {
    display: flex;
    cursor: pointer;
}

.container-chat {
    height: calc(100% - 60px);
}

.container-chat-top {
    height: calc(100% - 70px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.container-chat-bot {
    height: 70px;
    background-color: #F2EFEA;
}

.chat-text {
    min-width: 50px;
    max-width: 300px;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.sended-text {
    padding: 20px 15px;
    width: 45%;
    display: flex;
    background-color: #d5f9ba;
    float: right;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    clear: both;
}

.received-text {
    padding: 20px 15px;
    width: 45%;
    background-color: white;
    justify-content: flex-end;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    float: left;
    clear: both;
}

.msg-time {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
}

